# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Files and directories potentially created by vscode
launch.json

# Files and directories potentially created by goland
.idea

# Files and directories potentially created by iTerm2
iTerm2/AppSupport

# ignore everything exept specific directories
/*
!/applications
!/git
!/iTerm2
!/vscode
!/zshrc-config
!/fonts

# Directories created by 3rd party auth providers
hub
